.contactSection {
  margin-top: 3%;
  //   padding: 10px 0px;
  background-color: white;
  border-radius: 10px;
  .contactList {
    display: flex;
    padding: 10px;
    border-bottom: solid 1px lightgray;
    h3 {
      margin: 0px;
      font-weight: 100;
    }
    .iconHeader {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #accIcon {
      width: 40px;
    }
  }
}
